
@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=Delius+Swash+Caps&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    body{


      background-image: url('/services-background.jpg');
      background-repeat: no-repeat;
      background-size: cover;


  
        
    }
}
